body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Menu */
#menu li > a {
    font-size: 15px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 15px;
}


/* Slider - Carousel */
.carousel-inner {
    max-height: 39rem;
}


/* Ubication */
.map {
    background-image: url(../img/map.png);
    background-repeat: space;
    width: 100%;
    height: 500px;
}

#ubication {
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
}

#numbers div {
    padding: 0 20px 0 0;
    height: 48px;
}

#numbers div:not(:last-child) {
    /* Borde para todos los div menos para el ultimo */
    border-right: 2px solid #3f3f3f;
}

#numbers div:not(:first-child) {
    /* Padding para todos los div menos para el primero */
    padding-left: 20px;
}

#numbers p {
    margin: 0;    
}


/* Seccion contacto */
#bg-contact {
    position: relative;
    top: -200px;
}

#contact-section {
    background-color: #2d572c;
    min-height: 500px;
    position: relative;
}

#form-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}


/* Sección footer */
footer {
    background-color: #2d572c;
    min-height: 100px;
}

footer p {
    color: #ffffff;
    text-align: center;
}

#icons a {
    font-size: 26px;
    padding-left: 0 8px;
    color: #ffffff;
}












/* Media Queries personalizadas */

/* Pantallas grandes */
@media (max-width: 1200px) {
    #ubication {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

/* Pantallas medianas */
@media (max-width: 768px) {
    #intro, #about-us {
        width: 90% !important;
    }

    #about-us p {
        display: none;
    }

    .producto-fila {
        width: 100% !important;
        text-align: center;
    }

    #bg-contact {
        top: -110px;
    }
}

/* Pantallas pequeñas */
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #bg-contact {
        top: -70px;
    }
}


